<web-app>

  <display-name>Hyperbolic Storage Space</display-name>
  
  <servlet>
    <servlet-name>HyperbolicMapServletEscher</servlet-name>
    <servlet-class>org.hyperbolicstorage.HyperbolicMapServlet</servlet-class>
    <init-param>
      <param-name>dbPath</param-name>
      <param-value>/var/www/babudb_escher</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>HyperbolicMapServletRelativity</servlet-name>
    <servlet-class>org.hyperbolicstorage.HyperbolicMapServlet</servlet-class>
    <init-param>
      <param-name>dbPath</param-name>
      <param-value>/var/www/babudb_relativity</param-value>
    </init-param>
  </servlet>
  
  <!-- <servlet> -->
  <!--   <servlet-name>HyperbolicMapLoader</servlet-name> -->
  <!--   <servlet-class>org.hyperbolicstorage.HyperbolicMapLoader</servlet-class> -->
  <!--   <init-param> -->
  <!--     <param-name>dbPath</param-name> -->
  <!--     <param-value>/tmp/babudb</param-value> -->
  <!--   </init-param> -->
  <!-- </servlet> -->
  
  <servlet-mapping>
    <servlet-name>HyperbolicMapServletEscher</servlet-name>
    <url-pattern>/get_escher</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HyperbolicMapServletRelativity</servlet-name>
    <url-pattern>/get_relativity</url-pattern>
  </servlet-mapping>

  <!-- <servlet-mapping> -->
  <!--   <servlet-name>HyperbolicMapLoader</servlet-name> -->
  <!--   <url-pattern>/load</url-pattern> -->
  <!-- </servlet-mapping> -->

</web-app>
