<web-app>
  <display-name>Hyperbolic Storage Space</display-name>
  
  <servlet>
    <servlet-name>HyperbolicMapServlet</servlet-name>
    <servlet-class>org.hyperbolicstorage.HyperbolicMapServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HyperbolicMapServlet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
</web-app>
